! Configuration File for keepalived

global_defs {

   
   router_id LVS_DEVEL
}

vrrp_instance {{ inventory_hostname }} {
    state {{ state }}
    interface {{ ka_interface }}
    virtual_router_id 51
    priority {{ priority }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 1111
    }
    virtual_ipaddress {
        {{ ka_virt_ip }}
           }
}
